@charset "utf-8";

body {
  line-height: 1.4;
  color: #555;
  background-image: url(images/bgimage.png);
  background-attachment: fixed;
}

img {
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.sec__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding: 40px 0 60px;
}

.sec__title p {
  text-align: center;
}

.info__answer {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  padding: 40px 0;
}

/* splash
//===================================================================== */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #fff;
  text-align: center;
  color: #fff;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_logo img {
  width: 150px;
}

.fadeUp_top {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スクロールダウン
//===================================================================== */
.scrolldown {
  position: absolute;
  right: 50%;
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }

  50% {
    bottom: 3%;
  }

  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.scrolldown span {
  position: absolute;
  right: -200px;
  top: -250px;
  color: #555;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown:before {
  content: "";
  position: absolute;
  right: -212px;
  top: -230px;
  width: 1px;
  height: 20px;
  background: #555;
  transform: skewX(-31deg);
}

.scrolldown:after {
  content: "";
  position: absolute;
  right: -206px;
  top: -260px;
  width: 1px;
  height: 50px;
  background: #555;
}

@media screen and (max-width: 768px) {
  .scrolldown span {
    right: 0px;
    top: -50px;
  }

  .scrolldown:before {
    right: -12px;
    top: -30px;
  }

  .scrolldown:after {
    right: -6px;
    top: -60px;

  }
}

/* フェードイン
//===================================================================== */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger {
  opacity: 0;
}

/* =======================================================================
 header
======================================================================= */
#header {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: fixed;
  background-color: #fff;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  z-index: 10;
}

.header__logo {
  width: 100%;
  max-width: 64px;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  padding: 15px 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #888;
  padding: 10px;
  transition: all 0.3s;
}

nav ul li.current a,
nav ul li a:hover {
  color: #000;
  text-shadow: 1px 1px #444;
}


@media screen and (max-width: 768px) {
  #header {
    position: static;
    display: block;
    height: 70px;
  }

  .header__logo {
    padding: 10px;
    max-width: 80px;
    margin: 0 auto;
  }

  /* ハンバーガーメニュー
 //===================================================================== */
  .open_btn {
    position: fixed;
    background: #555;
    top: 30px;
    left: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 100;
  }

  .open_btn span {
    display: inline-block;
    transition: all .5s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }

  .open_btn span:nth-of-type(1) {
    top: 11px;
  }

  .open_btn span:nth-of-type(2) {
    top: 17px;
  }

  .open_btn span:nth-of-type(3) {
    top: 23px;
  }

  .open_btn span:nth-of-type(3)::after {
    content: "Menu";
    position: absolute;
    top: 7px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  .open_btn.active span:nth-of-type(1) {
    top: 12px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .open_btn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .open_btn.active span:nth-of-type(3) {
    top: 24px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .open_btn.active span:nth-of-type(3)::after {
    content: "Close";
    transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 3px;
  }

  /* navの中身
//===================================================================== */
  nav {
    position: fixed;
    z-index: 99;
    top: -120%;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.6s;
  }

  nav.panelactive {
    top: 0;
  }

  nav ul {
    position: absolute;
    z-index: 99;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__list {
    display: block;
  }

  .nav__list a {
    color: #555;
    padding: 5px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #555;
  }

  .nav__list a:hover {
    color: #fff;
    background-color: #555;
    transition: 0.8s;
    border-bottom: 2px solid #000;
  }
}

/* =======================================================================
 mainview
======================================================================= */
#mainview {
  height: 700px;
  background-color: #fff;
  position: relative;
  top: 64px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.title__text {
  padding-top: 200px;
  font-size: 60px;
  line-height: 80px;
  width: 400px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #mainview {
    height: 500px;
    margin-top: -64px;
    padding-top: 64px;
  }

  .title__text {
    padding-top: 100px;
    width: 360px;
  }
}

/* タイピング
//===================================================================== */
.typing span {
  display: none;
  white-space: wrap;
}

/*文字列後ろの線*/
.typing::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* =======================================================================
 About
======================================================================= */
#about {
  text-align: center;
  padding: 100px 0 150px;
}

@media screen and (max-width:768px) {
  #about {
    padding: 50px 0;
    margin-top: 64px;
  }
}

#about p {
  line-height: 2;
}

/* =======================================================================
 Profile
======================================================================= */
#profile {
  padding: 100px 0;
  background-color: #fff;
}

.profile__box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
}

.profile__box img {
  width: 150px;
  height: 150px;
}

.profile__text {
  width: 50%;
}

.profile__text p {
  padding-bottom: 5px;
}

@media screen and (max-width:768px) {
  #profile {
    padding: 60px 0;
    background-color: #fff;
  }

  .profile__box {
    display: block;
    margin: 0 auto;
    align-items: center;
  }

  .profile__box img {
    width: 150px;
    display: block;
    margin: auto;
  }

  .profile__text {
    width: 100%;
  }
}

/* =======================================================================
 Works
======================================================================= */
#works {
  padding: 100px 0;
}

.works__box {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.works__box-item {
  width: 40%;
}

@media screen and (max-width:768px) {
  #works {
    padding: 60px 0;
  }

  .works__box {
    padding-top: 20px;
  }

  .works__box-item {
    width: 90%;
  }

  .works__box-item img {
    box-shadow: 2px 2px 5px 2px;
  }

}

.works__box-item img {
  transition: 0.5s;
  border-radius: 5%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.works__box-item img:hover {
  box-shadow: 0 0 5px 2px #000;
  opacity: 0.7;
  transition: 0.5s;
  transform: scale(1.05);
}


.works__box-item h3 {
  text-align: center;
  padding: 20px 0;
}

#modal1,
#modal2,
#modal3,
#modal4 {
  display: none;
}

.modal__box {
  margin: auto;
  max-width: 500px;

}

.modal__box-image {
  max-width: 600px;
  border: 1px solid #000;


}

.modal__box-text h3 {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.modal__box-text h4 {
  padding: 10px 0;
  font-weight: bold;
}

.modal__box-text h5 {
  padding: 10px 0;
  font-weight: bold;
}

.modal__box-text p {
  padding-bottom: 10px;
}

.modal__box-text img {
  display: block;
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
  border: 1px solid #222;
}
.modal__box-text a:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #777;
}

.modaal-container {
  width: 90%;
}

.delay-time02 {
  animation-delay: 0.2s;
}

.delay-time03 {
  animation-delay: 0.3s;
}

.delay-time04 {
  animation-delay: 0.4s;
}

/* =======================================================================
 Skill
======================================================================= */
#skill {
  padding: 100px 0;
  background-color: #fff;
}

.skill__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
  margin: 10px auto;
}

.skill__box-item {
  width: 40%;
  text-align: center;
}

.skill__box-item h3 {
  padding: 10px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
}


.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.skill-percentage {
  opacity: 0;
  transition: opacity 0.6s;

}

.skill-bar-container {
  position: relative;
  width: 95%;
  height: 25px;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -5px #000;
}

.skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 3s cubic-bezier(0.22, 1, 0.36, 1);
}

.skill_text-box {
  padding: 20px 20px 0 20px;
  text-align: left;
}

.skill_text-box h4 {
  padding: 10px 0;
  font-weight: bold;
}

.skill_text-box li {
  list-style: square;
}

.bar-html {
  background-color: #E44F26;
}

.name-html {
  color: #E44F26;
}

.bar-css {
  background-color: #136EB0;
}

.name-css {
  color: #136EB0;
}

.bar-js {
  background-color: #EED81D;
}

.name-js {
  color: #EED81D;
}

.bar-jquery {
  background-color: #06538A;
}

.name-jquery {
  color: #06538A;
}

.bar-react {
  background-color: #48CEF7;
}

.name-react {
  color: #48CEF7;
}

.bar-next {
  background-color: #000;
}

.name-next {
  color: #000;
}

.bar-ruby {
  background-color: #A81400;
}

.name-ruby {
  color: #A81400;
}

.skill__box-text {
  padding: 10px 0;

}

@media screen and (max-width:768px) {
  #skill {
    padding: 60px 0;
    background-color: #fff;
  }

  .skill__box-item {
    width: 90%;
    text-align: center;
  }
}

/* =======================================================================
 History
======================================================================= */
#history {
  padding: 100px 0;
}

.timeline {
  max-width: 700px;
  width: 100%;
  margin: 50px auto;
  padding: 0 30px;
}

.timeline li {
  position: relative;
  list-style: none;
  padding: 10px 0 20px 0;
}

.timeline dl {
  margin: 10px 0 20px 40px;
  padding: 25px;
  background-color: white;
}

.timeline dd {
  padding: 10px 0;
}

.border-line {
  position: absolute;
  left: 0.24em;
  top: 0;
  width: 2px;
  height: 0;
  background: #ccc;
}

.timeline li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 50%;
}

.btnLine{
  position:relative;
  color:#555;
    text-decoration: none;
    outline: none;
  }
  
  .btnLine::before,
  .btnLine::after {
  content:'';
  position:absolute;
  border:solid #555;
  width:20px;
  height:10px;
  transition:all 0.3s ease-in-out;
  }
  
  .btnLine::before{
  top:0;
  left:0;
  border-width:2px 0 0 2px;
  }
  
  .btnLine::after{
  bottom:0;
  right:0;
  border-width:0 2px 2px 0;
  }
  
  .btnLine:hover::before,
  .btnLine:hover::after{
  width:calc(100%);
  height:calc(100%);
  border-color:#555
  }

@media screen and (max-width:768px) {
  #history {
    padding: 60px 0;
  }

  .timeline {
    padding: 0 10px;
    margin: 0;
  }

  .timeline dl {
    margin-left: 2em;
    padding: 20px 10px;
    box-shadow: 2px 2px 10px #555;
    border-radius: 5px;
  }

    
  .btnLine::before,
  .btnLine::after {
    border-width:0;
  content:'';
  position:absolute;
  width:0;
  height:0;
  transition:all 0.3s ease-in-out;
  }
  .btnLine:hover::before,
  .btnLine:hover::after{
  width:calc(0%);
  height:calc(0%);
  }
}

/* =======================================================================
 Info
======================================================================= */
#info {
  background-color: #fff;
}

#info .container {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.info__text-box {
  padding: 20px 0 60px;
}

.info__text {
  padding: 10px 0;
  text-align: center;
}

.info__item {
  border-top: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}


.info__item:nth-child(3) {
  border-bottom: 1px solid #ddd;
}

.info__item-label {
  width: 100%;
  max-width: 248px;
  font-weight: bold;
  font-size: 18px;
}

.info__item-label.text-position {
  margin-top: 8px;
  margin-bottom: auto;
}

.info__label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

.info__item-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.info__item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}


.info__btn {
  border-radius: 6px;
  margin: 32px auto;
  padding: 20px 0;
  width: 280px;
  display: block;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px 0 #000;
}

.info__btn:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.info__btn:active {
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
  border-bottom: none;
  box-shadow: 0 0 #5bc8ac;

}

@media screen and (max-width: 768px) {
  #info .container {
    padding: 30px 10px;
  }

  .info__item {
    display: block;
    text-align: center;
  }

  .info__item-label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .info__item-label.text-position {
    margin-top: 0;
  }

  .info__label-required {
    border-radius: 4px;
    padding: 4px 0;
    width: 32px;
    font-size: 10px;
  }

  .info__item-input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
    text-align: left;
  }

  .info__item-textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 150px;
    flex: inherit;
    font-size: 15px;
  }

  .info__btn {
    margin-top: 24px;
    padding: 8px 0;
    width: 160px;
    font-size: 16px;
  }
}

/* =======================================================================
 footer
======================================================================= */
#footer {
  text-align: center;
  color: #FFF;
  text-shadow: 3px 3px 10px #000;
}

#footer .sec__title {
  padding: 120px 0;
}

#footer small {
  display: block;
  padding: 20px 0;
  background-color: #fff;
  color: #555;
  text-shadow: none;
}

@media screen and (max-width: 768px) {
  #footer .sec__title {
    line-height: 1.5;
    padding: 60px 0;
  }

  #footer small {
    padding: 10px 0;
  }
}

#js__page-top:hover {
  opacity: 0.7;
  transition: 0.2s;
  background-color: #555;
}

#js__page-top:active {
  animation: small 0.1s;
  animation-fill-mode: forwards;
}

@keyframes small {
  100% {
    transform: scale(0.9);
  }
}

.page-top {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #888;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  opacity: 0.7;
}

.page-top-arrow {
  display: block;
  height: 20px;
  width: 20px;
  border-top: 3px solid #888;
  border-right: 3px solid #888;
  transform: translateY(20%) rotate(-45deg);
}